{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Buy Stocks{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
	<label for="symbol">Symbol</label>
	<input name="symbol" id="symbol" required>
	<input type="submit" value="Lookup">
</form>
<h3>Your balance: {{ "$%.2f"|format(balance) }}</h3>
{% if info %}
<article class="market-panel">
	<table>
		<thead>
		<tr>
			<td>Symbol</td>
			<td>Price</td>
			<td>Value</td>
			<td>Shares</td>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="ticker-cell">{{ info["symbol"] }}</td>
			<td class="mono">{{ "$%.4f"|format(info["regularMarketPrice"]) }}</td>
			<td>
				<form id="buy" method="post"><input name="value" id="value" required oninput="this.value=this.value.replace(/(?![0-9.])./gmi,'');updateShares()"></form>
			</td>
			<td id="shares">0</td>
			<td><input form="buy" type="submit" value="Buy"></td>
		</tr>
		</tbody>
	</table>
</article>
<script>
    function updateShares() {
        const value = parseFloat(document.getElementById('value').value) || 0;
        if (value == 0) {
            document.getElementById('shares').textContent = 0;
        } else {
            document.getElementById('shares').textContent = Math.round((value / {{ info["regularMarketPrice"] }})* 10000)
				/ 10000;
        }
    }
</script>
{% endif %}
{% endblock %}