{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Your portfolio{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3>Total: {{ "$%.2f"|format(balance+assettotal) }}</h3>
<h3>Cash: {{ "$%.2f"|format(balance) }}</h3>
{% if assets|length > 0 %}
<article class="market-panel">
	<header class="panel-head">
		<h3>Assets</h3>
	</header>
	<table>
		<thead>
		<tr>
			<td>Symbol</td>
			<td>Quantity</td>
			<td>Price</td>
			<td>Value</td>
			<td>Purchase price</td>
			<td>Profit</td>
		</tr>
		</thead>
		<tbody>
		{% for asset in assets %}
		<tr>
			<td class="ticker-cell">{{ asset["symbol"] }}</td>
			<td class="mono">{{ asset["shares"]|round(5) }}</td>
			<td class="mono">{{ "$%.2f"|format(asset["price"]) }}</td>
			<td class="mono">{{ "$%.2f"|format(asset["total"]) }}</td>
			<td></td>
			<td class="mono">{{ "$%.2f"|format(asset["profitloss"]) }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</article>
{% else %}
<p>No assets</p>
{% endif %}
<a href="{{ url_for('trading.buy') }}" class="btn-buy">Buy</a>
{% endblock %}