{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Sell{% endblock %}</h1>
{% endblock %}

{% block content %}
<article class="market-panel">
	<table>
		<thead>
		<tr>
			<td>Symbol</td>
			<td>Value</td>
			<td>Purchase Price</td>
			<td>Sell Amount</td>
			<td>Profit</td>
			<td>Remaining</td>
		</tr>
		</thead>
		<tbody>
		{% for asset in assets %}
		<tr>
			<td class="ticker-cell">{{ asset["symbol"] }}</td>
			<td class="mono">{{ "$%.2f"|format(asset["value"]) }}</td>
			<td class="mono">{{ "$%.2f"|format(asset["purchase_price"]) }}</td>
			<td>
				<form id="sell-{{ loop.index }}" method="post">
					<input name="sellamount" id="sellamount" required oninput=
							"this.value=this.value.replace(/(?![0-9])./gmi,'');
                            updateRow(this, {{ asset["value"] }}, {{ asset["market_price"] - asset["avg_price"] }});">
				</form>
			</td>
			<td id="profit" >0</td>
			<td id="remaining">0</td>
			<td><input form="sell-{{ loop.index }}" type="submit" value="Sell"></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</article>
<script>
    function updateRow(input, total, profitPerShare) {
        const row = input.closest('tr');
		const profitCell = row.querySelector('#profit');
        const remainingCell = row.querySelector('#remaining');
        const sellAmount = parseFloat(input.value) || 0;

        if (sellAmount == 0) {
            profitCell.textContent = 0;
            remainingCell.textContent = 0;
        } else {
			profitCell.textContent = Math.round((profitPerShare * sellAmount) * 10000) / 10000
			remainingCell.textContent = Math.round((total - sellAmount) * 10000) / 10000
        }
    }
</script>
{% endblock %}