<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
<nav>
	<h1><a href="{{ url_for('pages.index') }}">Stock Sim</a></h1>
	<ul>
		<li><a href="{{ url_for('pages.stockinfo') }}">Stock Lookup</a></li>
		{% if g.user %}
		<li><a href="{{ url_for('trading.portfolio') }}"><span>{{ g.user['username'] }}</span></a></li>
		<li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
		{% else %}
		<li><a href="{{ url_for('auth.register') }}">Register</a></li>
		<li><a href="{{ url_for('auth.login') }}">Log In</a></li>
		{% endif %}
	</ul>
</nav>
<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
	<div class="flash">{{ message }}</div>
	{% endfor %}
	{% block content %}{% endblock %}
</section>

<footer class="site-footer">
	<div class="footer-inner">
		<span>Stock Market Simulator by David Horobin.</span>
		<div class="footer-links">
			<a href="https://github.com/davidhorobin/stock-sim">GitHub</a>
		</div>
	</div>
</footer>